@charset "UTF-8";

.class_list_container {
	margin: 100px auto;
	width: 1240px;
}
#class_status {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 20px;
	width: 700px;
	
}	
#class_status li {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 15px;
	font-family: 'Gowun Dodum', sans-serif;
}

#img {
		width: 300px;
		height: 190px;
		border-radius: 10px;
		border: 1px solid #fff;
}

.class_content {
	margin-bottom: 20px;
	width: 900px ;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.class_content:nth-child(odd) #img{
	border: 1px solid #eee;
}
.class_content:nth-child(odd){
	background-color: #eee;
	border: 1px solid #eee;
}

#btn {
	width: 150px;
	height: 45px;
	border: 1px solid #fff;
	border-radius: 7px;
	background-color: #FFDF24;
	font-size: 20px;
	margin-left: 750px;
	margin-bottom: 20px;
}
#btn:hover {
	background-color: #FFCD12;
	cursor:pointer;
}
#class_subject{
	
	font-family: 'Gowun Dodum', sans-serif;;
}
#class_subject:hover {
	color: #FFDF24;
}
