@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.anniversary_container {
	max-width: 490px;
	padding: 10px 25px;
}

.anniversary_container .page_title{
	display: block;
	max-width: 490px;
    margin: 0 auto;
    padding: 0 20px 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    text-align: center;	
}

.anniversary_container .page_title .title {
    padding: 40px 0;
    border-bottom: none;
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    letter-spacing: -.6px;
    color: #333;
}

.anniversary_container .ann_content_box {
	margin-top: 15px;
	padding-top: 20px;
}

.anniversary_container .ann_content_box .inbox {
	 position: relative;
}

.anniversary_container .ann_content_box .inbox .inner {
	max-width: 490;
    margin: 15px 5px;
}

.anniversary_container .ann_content_box .inbox .inner .ann_form {	
	line-height: 25px;
	text-align: center;
	margin-top: 35px;
}

.ann_content_box .row {
	display: block;
    margin: 0;
	padding: 0 5px;
	
}

.ann_content_box .row .ann_name {
    float: left;
    width: 120px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -.24px;
    color: #222;
    position: relative;
}

.ann_content_box .row .ann_input {
	margin-top: 0;
    overflow: hidden;
    padding-right: 30px;
    position: relative;
    display: block;
}

.ann_content_box .row .ann_input .textBox {
    padding: 0;
    margin: 0;
    border: none;
    background: 0 0;
    outline: 0;
    display: block;
    width: 350px;
    height: 44px;
    margin-right: 110px;
    padding: 0 20px;
    border-radius: 5px;
    border: #d3d3d3 1px solid;
    font-size: 14px;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: -.21px;
    color: #222;
}

.annSelect {
	width: 200px;
	height: 24px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	font-size: 14px;
	color: #000;
	outline: none;
	display: inline-block;
}

.submit_ area {
	padding-bottom: 20px;	
}

.btn_submit {
	padding: 0;
    margin: 0;
    border: none;
	background: #ececec;
    cursor: default;
    display: block;
    width: 350px;
    height: 44px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: -.21px;
    color: #222;
    text-align: center;
}