@charset "UTF-8";

.cart_div {
	width: 1120px;
	margin: 0 auto;
	text-align: center;
}

.cart_header {
	padding: 50px 0;
	font-size: 35px;
	color: #222;
}

.cart_table {
	width: 1120px;
	border-collapse: collapse;
	border: none;
}

.cart_tr1 .cart_td1 {
	width: 560px;
}

.cart_tr1 .cart_td2 {
	width: 392px;
}

.cart_tr1 td {
	background: #f7f7f7;
	border: none;
	height: 50px;
}

.cart_input {
	height: inherit;
	float: left;
	margin: 0 10px;
}

.cart_span1 {
	padding-top: 18px;
    font-size: 16px;
    letter-spacing: -.24px;
    color: #222;
}

.cart_tr1 span {
    font-size: 16px;
    letter-spacing: -.24px;
    color: #222;
}

.cart_tr2 td {
	height: 210px;
}

.cart_img {
	width: 150px;
	height: 150px;
	float: left;
	display: block;
}

.cart_desc {
	margin-left: 200px;
	display: block;
	text-align: left;
	
}

.cart_span4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.24px;
    color: #222;
}

.cart_input2 {
	float: left;
	margin: 0 10px;
}

.cart_input3 {
    width: 20px;
    height: 20px;
    line-height: 40px;
}

.cart_input4 {
    width: 20px;
    height: 20px;
    border-radius: 9px;
}

.cart_span5 {
    font-size: 14px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: -.21px;
    color: #787878;
}

.cart_span6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -.24px;
    color: #0d0d0d;
}

.cart_span7 {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: -.26px;
    color: #0d0d0d;
}






.cart_td3 {	
	display: table-cell;
    vertical-align: middle;
}

.cart_span8 {
	width: 304px;
	height: 24px;
	float: none;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -.24px;
    color: #0d0d0d;
}


.cart_span9 {
	display: block;
    text-align: center;
    font-size: 18px;
    line-height: 0px;
    font-weight: 500;
    letter-spacing: -.27px;
    color: #0d0d0d;
}

.cart_span10 {
	margin-top: 0.2px;
	position: static;
	bottom: 0;
    left: 0;
    display: inline-block;
    height: 20px;
    padding: 0 8px;
    border-radius: 10px;
    border: #ececec 1px solid;
    background: #ececec;
    font-size: 9px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: -.14px;
    color: #0d0d0d;
} 

.cart_div5 {
    width: 1120px;
	position: inherit;
    margin: 0 auto;
    height: 380.58px;
}

.cart_div6 {
    height: 380.58px;
}

p {
	display: block;
}

.cart_p {
	width: 1120px;
	height: 134px;
	padding: 30px 55px;
	margin-top: 0;
	background: #f7f7f7;
	text-align: left;
}

.cart_strong {
	font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: -.32px;
    color: #222;
}

.cart_span11 {
	margin-top: 5px;
	font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: -.21px;
    color: #222;
}

.cart_p2 {
	width: 1120px;
	height: 114.58px;
	margin-top: 40px;
	padding: 40px 0;
    border-top: #ffcd32 2px solid;
    background: #fff9ee;
    text-align: center;
}

.cart_span12 {
	width: 210px;
    height: 31.38px;
    display: inline-block;
    font-size: 18px;
    line-height: 29px;
    font-weight: 100;
    letter-spacing: -.3px;
    color: #222;
    margin: 0;
    padding: 0;
}

.cart_span13 {
	width: 94.65px;
	height: 28.8px;
	display: contents;
    float: none;
    margin-right: 0;
    vertical-align: middle;
    text-align: left;
}

.cart_span14 {
	width: 79.26px;
	height: 28.8px;
	margin-left: 0 0 0 20px;
	display: contents;
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    overflow: hidden;
	
}

.cart_span15 {
	display: inline-block;
	width: 40.4px;
	height: 28.8px;
    padding: 0 15px;
    font-size: 23px;
    line-height: 29px;
    font-weight: 100;
    letter-spacing: -.3px;
    color: #222;
    vertical-align: -2px;
    
}

.cart_span16 {
	width: 60px;
    height: 28.8px;
    margin-left: 5px;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    font-weight: 500;
    overflow: hidden;
} 

.cart_span17 {
	width: 233.45px;
	height: 32.58px;
	margin-top: 0;
	padding-top: 0;
    border-top: none;
    vertical-align: bottom;
}

.cart_span18 {
	font-size: 23px;
    line-height: 29px;
    font-weight: 500;
    display: inline-block;
    float: none;
    margin-right: 0;
    text-align: left;
}

.cart_span19 {
	width: 40.4px;
	height: 28.8px;
	padding: 0 8px;
	font-size: 23px;
}

.cart_span20 {
	width: 130px;
	height: 31.2px;
	font-size: 23px;
    line-height: 29px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: -.39px;
    color: #0d0d0d;
}

.cart_div6 {
	width: 370px;
	height: 52px;
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 350px;
 	
}

.cart_div7 {
	width: 370px;
	height: 52px;
	flex: 1;
    padding: 0 5px;
    display: block;
    margin: 0;
}

.cart_input5 {
	width:360px;
	height: 52px;
    font-size: 16px;
    line-height: 52px;
    font-weight: 300;
    letter-spacing: -.24px;
    color: #0d0d0d;
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    background: #ffcd32;
    text-align: center;
}

.cart_p3 {
	width: 1120px;
	height: 392px;
	padding: 80px 0 100px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: -.27px;
    color: #787878;
}

.cart_span21 {
	width: 1120px;
	height: 80px;
	margin-top: 0;
	text-align: center;
	font-weight: normal;
}

.cart_input6 {
	padding: 0;
	margin-top: 80px;
	width: 360px;
    height: 52px;
    margin: 70px auto;
    font-size: 16px;
    line-height: 52px;
    font-weight: 300;
    letter-spacing: -.24px;
    color: #1b1b1b;
    border: none;
    outline: 0;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    background: #ffcd32;
}

.cart_input7 {
	top: 0;
    right: 30px;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    
}
