@charset "UTF-8";

html {
	scroll-behavior: smooth;
}

/* 리뷰 ajax에 쓰이는 코드  */
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
 ul.tabs li{ 
 	background: none; 
 	display: inline-block; 
 	padding: 10px 15px; 
 } 
ul.tabs li.current{
	color: #222;
}
.tab-content{
	display: none;
	padding: 15px;
}
.tab-content.current{
	display: inherit;
}
#hidden {
	display: none;
}

.contents_container {
	width: 1120px;
    margin: 0 auto;
}

.navigation {
	height: 80px;
    width: 1120px;
    margin: 0 auto;
    padding: 40px 0;
   	color: #999999;
	font-size: 13px;
}

/* 사진 슬라이더 부분 */
.thumnail_main img {
	width: 550px;
	height: 550px;
}

.images_4 .image .change_img img {
	width: 122px;
	height: 122px;
}

.images_4 {
	margin-top: 15px;
	width: 570px;
	display: flex;
}

.images_4 .image {
	flex: 1;
	transition-delay: 1s;
}

.images_4 .image button {
	border: none;
	width: 122px;
	height: 122px;
}

.images_4 .active img {
	border: solid 1px #ffd324;
}

/*  */

.inbox {
	width: 1120px;
	height: auto;
}

.top_box {
	height: 750px;
}

.category_product_detail {
	width: 490px;
	float: right;
}

.category_product_image {
	width: 490px;
	float: left;
}

.name_1 {
	line-height: 27px;
	font-size: 16px;
	color: #999999;
}

.name_2 {
	line-height: 50px;
	font-size: 27px;
	font-weight: 700;
}

.discount {
	line-height: 50px;
}

.per {
	color: red;
	font-size: 16px;
	font-weight: 800;
	vertical-align: top;
}

.old_price {
	color: #999999;
	font-size: 16px;
	font-weight: 100;
	vertical-align: top;
}

.price {
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -1px;
}

.notice_fresh {
	border-top: #eeeeee solid 1px;
	border-bottom: #eeeeee solid 1px;
	padding: 25px 0px;
}

.notice_fresh_info {
	font-size: 16px;
	line-height: 20px;
}

.notice_fresh_info b {
	color: #80dfa8;
}

.notice_fresh_info .web b {
	color: #79c0f4;
}

.form_section {
	margin: 18px 0;
}

.label_name {
	font-size: 16px;
	width: 160px;
	float: left;
	text-align: left;
	font-weight: 450;
	
}

#label_name_date, #label_name_option {
	padding-top: 13px;
}

#label_name_qty {
	padding-top: 5px;
}

.label_div {
	padding: 10px 0;
	height: 60px;
}

.sub_option {
	padding: 11px 157px 11px 10px;
	border: solid 1px #ffd324;
	border-radius: 5px;
	color: #999999;
	font-size: 13px;
}

.sub_option option {
	color: black;
}

.delivery_date, .showCalendar {
	padding: 13px 130px 13px 10px;
	border: solid 1px #ffd324;
	border-radius: 5px;
	color: #999999;
	font-size: 14px;
	display: block;
} 

.calendar_right {
	margin-left:160px;
	text-align: right;
}

.designinfo {
	text-align: left;
	line-height: 20px;
	color: #999999;
}

.designinfo b {
	color: red;
	font-weight: 300;
}

.button_qty {
	font-size: 20px;
	color: #999999;
	padding: 4px 7px;
	background-color: #eeeeee;
	border-radius: 30px;
	border: none;
	cursor: pointer;
}

.c_qty {
	width: 30px;
	border: none;
	text-align: center;
	font-size: 13px;
}

#invenNotice {
	color: red;
}

.add_letter {
	font-size: 14px;
}

.radiobtn {
	cursor: pointer;
}

.extra {
	margin: 5px 0;
	padding: 22px 15px;
	background-color: #f6f6f6;
	border-radius: 5px;
}

.extra_right {
	text-align: right;
}

#amount, .letterPrice {
	font-size: 15px;
	font-weight: 550;
}

.free {
	text-align: right;
	margin: 20px 0 15px 441px;
	font-size: 10px;
	padding: 2px 5px;
	background-color: #eeeeee;
	border-radius: 10px;
}

.total {
	text-align: right;
	font-size: 14px;
}

#totalPrice {
	font-size: 25px;
	font-weight: 600;
}

.cartbuy, .nowbuy, .subbuy {
	width: 238px;
	height: 50px;
	margin: 25px 0;
	border: none;
	border-radius: 6px;
	font-size: 14px;
	cursor: pointer;
}

.nowbuy, .subbuy {
	margin-left: 4px;
	background-color: #ffd324;
}

.cartbuy {
	margin-right: 4px;
	background-color: #dddddd;
}

.clear{
	clear: both;
}

.category_product_description {
	width: 1120px;
	display: inline-block;
}

.desc_image {
	width: 740px;
	margin: 0 auto;
}

.sticky.visible {
	position: sticky;
	bottom: 0px;
}

.middle_nav {
	height: 53px;
	margin-bottom: 60px;
	position: relative;
	display: flex;
	justify-content: center;
	list-style: none;
}

.middle_nav li {
	position: relative;
	flex: 1;
	text-align: center;
	font-size: 16px;
	color: #888888;
	line-height: 50px;
	border: solid 1px #eeeeee;
	cursor: pointer;
	background: white;
}

.middle_nav .active {
	border-top: solid 2px #ffd324;
	border-bottom: none;
	color: black;
}




