@charset "UTF-8";

		.title {
		    height: auto;
		    padding: 40px 0;
		    border-bottom: 50px;
		    font-size: 30px;
		    font-weight: 600;
		    line-height: 45px;
		    color: #333;
		    text-align: center;
		}
		
		.joinform {
			display: block;
			width: 1120px;
			margin: 0 auto;
			padding: 0 60px;			
		}
		
		.joinform_container {
		    max-width: 1240px;
		    margin: 0 auto;
		    padding: 0 60px;
		}
		
		.topForm {
		    max-width: 620px;
		    margin: 0 auto;
		    padding: 0 0 40px;
		}

		.bottomForm {
			border: 1px solid #e7e7e7;
			width: 80%;
			margin: 50px auto;
			border-radius: 5px;
			display: block;	
		}
		
		.bottomContent {
			text-align: left;
			font-size: 15px;
			margin-left: 10px;
			margin-top: 30px;
			line-height: 30px;
		}		
		
		.checkMessage { 
			font-size: 12px;
			color: #FF0000;
		}
			
		.join_name {
		    float: left;
		    width: 120px;
		    padding-top: 10px;
		    font-size: 16px;
		    line-height: 24px;
		    font-weight: 300;
		    letter-spacing: -.24px;
		    color: #222;
		}

		.join_input {
			position: relative;
		    display: block;
		}

		.textBox {
		    margin: 0;
		    border: none;
		    display: block;
		    width: 300px;
		    height: 44px;
		    margin-right: 110px;
		    padding: 0 20px;
		    border-radius: 5px;
		    border: #d3d3d3 1px solid;
		    font-size: 14px;
		    line-height: 44px;
		    font-weight: 300;
		    letter-spacing: -.21px;
		    color: #222;
		    float: left;
		}
		
		.textBox2 {
			height: 44px;
			width: 300px;
			border: 1px solid #eaeaea;
			border-radius: 5px;	
			font-size: 14px;
			display: inline-block;
		}
		
		.btn {
			width: 120px;
			height: 39px;
			border: none;
			border-radius: 5px;
			color: #787878;
			font-weight: bold;
			font-size: 16px;
			cursor: pointer;	
  			letter-spacing: -.24px;
    		font-weight: 300;
    		float: left;
			}

		.btn:hover {
			color: #FFFFFF;
			background-color: #000000;
		}
		
		.joinForm input:focus {	
			outline: none;
			border: 1px solid #ffcd32;
			border-radius: 5px;	
		}
		
		input::placeholder {
			 padding: 10px;
		}
		
		.joinForm input[type="radio"] {
			width: 100px;
		}
				
		.joinForm input[type="checkbox"] {
			width: 70px;
		}
		
		.longTextBox {
			height: 44px;
			border: 1px solid #eaeaea;
			border-radius: 5px;	
			font-size: 14px;
			display: inline-block;
			width: 20%;
		}
		
		.shortTextBox{
			height: 44px;
			border: 1px solid #eaeaea;
			border-radius: 5px;	
			font-size: 14px;
			margin-left: 10px;
			display: inline-block;
			width: 8%;
		}
		
		.bottomText{
			display: inline-block;
			font-size: 14px;
			margin-top: 10px;
			color: #878787;
			font-weight: bold;		
			margin-bottom: 20px;	
		}	
		
		.textRed{
			color: #FF0000;
		}
		
						
		.textStar {
			font-size: 14px;
			color: #ffcd32;
		}
		
		input[type="submit"] {
			display: inline-block;
			border-radius: 5px;
			width: 38%;
			height: 44px;
			color: #878787;
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 70px;
			border: none;
		}

		input[type="submit"]:hover {
			color: #FFFFFF;
			background-color: #000000;
		}