@charset "UTF-8";

*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum,
		'돋움', Helvetica, "Apple SD Gothic Neo";
}

li {
	list-style: none;
	text-decoration: none;
}

a, a:active, a:visited {
	color: black;
	text-decoration: none;
}

a, button {
	cursor: pointer;
}

div {
	display: block;
}

.letter_div {
	width: 1519.2px;
	height: 1237px;
}

.letter_div2 {
	top: 36px;
	position: static;
    z-index: 0;
    left: 0;
    max-width: 1240px;
    height: 124.8px;
    margin: 0 auto;
    padding: 0 60px;
    background: #fff;
}

.letter_h2 {
	width: 1120px;
	height: 124.8px;
	border-bottom: none;
	font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    letter-spacing: -.6px;
    color: #333;
    padding: 40px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    display: block;
}

.letter_div3 {
	width: 1519.2px;
	height: 1112.2px;
	padding-bottom: 150px;
}

.letter_div4 {
	width: 1519.2px;
	height: 962.2px;
}

.letter_div5 {
	width: 620px;
	height: 854.2px;
	max-width: 620px;
    margin: 0 auto;
    padding: 0;
}

.letter_div6 {
	width: 620px;
	height: 854.2px;
	margin: 0;
	position: relative;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.letter_h5 {
	width: 620px;
	height: 48px;
	padding-top: 0;
	padding: 1px 0 0;
	border-bottom: #d3d3d3 1px solid;
}

.letter_span {
	width: 116.08px;
	height: 32.8px;
	float: left;
    margin-right: 20px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    letter-spacing: -.33px;
    color: #222;
    display: block;
}

.letter_b {
	width: 27.19px;
	height: 32.8px;
	display: inline;
    font-weight: 500;
    color: #46cfa7;
}

.letter_span2 {
	width: 483.93px;
	height: 5px;
	padding-top: 5px;
	display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    letter-spacing: -.21px;
    color: #222;
    text-align: right;
}

.letter_div7 {
	width: 620px;
	height: 806.2px;
	padding-top: 20px;
    border-top: none;
}

.letter_div8 {
	width: 620px;
	height: 786.2px;
	display: block;
    margin: 0;
    padding: 0;
}

.letter_article {
	width: 620px;
	height: 786.2px;
	position: relative;
}

.letter_div9 {
	width: 620px;
	height: 120px;
}

.letter_img {
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
}

.letter_span3 {
	position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.letter_div10 {
	width: 480px;
	height: 88.4px;
	overflow: hidden;
    padding: 0;
}

.letter_span4 {
	font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: -.18px;
    color: #787878;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.letter_span5 {
	width: 480px;
	height: 26.4px;
	font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    letter-spacing: -.27px;
    color: #222;
    padding-right: 100px;
    margin-top: 2px;
} 

.letter_span6 {
	width: 480px;
	height: 50px;
	padding-right: 100px;
	margin-top: 10px;
	position: relative;
	display: block;
}

.letter_span7 {
	width: 380px;
	height: 50px;
	display: block;
}

.letter_span8 {
	width: 200px;
	height: 25px;
	font-weight: 300;
	float: left;
    padding-bottom: 5px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.21px;
    color: #787878;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.letter_span9 {
	width: 380px;
	height: 25px;
	font-weight: 300;
	float: left;
    padding-bottom: 5px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.21px;
    color: #787878;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.letter_div11 {
	width: 620px;
	height: 646.2px;
	margin-top: 20px;
    padding-top: 20px;
    padding: 0 30px;
    border-top: #ececec 1px solid;
}

.letter_h52 {
	position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.letter_div12 {
	width: 400px;
	height: 50.2px;
	padding: 0;
}

.letter_ul {
	width: 560px;
	height: 50.2px;
	margin: 0;
	display: flex;
	list-style: none;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: -2px;
	
}

.letter_li {
	width: 140px;
	height: 50.2px;
	flex: 1;
	display: block;
    margin: 0;
    padding: 0;
    text-align: -webkit-match-parent;
}

.letter_label {
	padding: 3px 0 0;
    text-align: left;
/*     position: relative; */
    display: block;
    margin: 0;
    cursor: default;
}

[type=radio] {
    box-sizing: border-box;
}

input {
	border-radius: 0;
	overflow: visible;
	-webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    font: 400 13.3333px Arial;
    
}

.letter_input {
	width: 140px;
	height: 50.2px;
	padding: 0;
    margin: 0;
    border: none;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.letter_span10 {
	display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0;
	background-image: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/kukka/letter_thank_thum.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d3d3d3;
    border-radius: 50%;


}

b {
    font-weight: bolder;
}

.letter_span11 {
	width: 60px;
    height: 24px;
	margin-top: 8px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    letter-spacing: -.24px;
    color: #787878;
    text-align: left;
}

.letter_span12 {
	background-image: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/kukka/letter_cheer_thum.png);
	display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d3d3d3;
	border-radius: 50%;
}

.letter_span13 {
	background-image: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/kukka/letter_love_thum.png);
	display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d3d3d3;
	border-radius: 50%;
}

.letter_span14 {
	background-image: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/kukka/letter_write_thum.png);
	display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d3d3d3;
	border-radius: 50%;
}

.letter_div13 {
	width: 560px;
    height: 415px;
    padding: 0;
    margin-top: 25px;
    
}

.letter_div14 {
	width: 280px;
    height: 414.59px;
    margin-right: 0;
    padding-right: 10px;
    float: left;
}

.letter_span15 {
	width: 270px;
    height: 381px;
    display: block;
    background-color: #f7f7f7;
}

.letter_img2 {
	width: 270px;
    height: 381px;
}

.letter_strong {
	width: 270px;
    height: 24px;
	margin-top: 10px;
	font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    letter-spacing: -.24px;
    color: #787878;
    display: block;
    text-align: center;
}

.letter_div15 {
	width: 280px;
    height: 415px;
    overflow: hidden;
    margin: 281px;
    margin-top: -414px;
}

.letter_div16 {
	width: 280px;
    height: 381px;
    display: table;
    border: #ececec 1px solid;
}

.letter_div17 {
	width: 278px;
    height: 379px;
    display: table-row;
    margin: 0;
    padding: 0;
}

.letter_div18 {
	width: 278px;
    height: 379px;
	vertical-align: middle;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
    letter-spacing: -.21px;
    color: #222;
    position: relative;
    display: table-cell;
}

.letter_span16 {
	padding: 20px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: -.21px;
    color: #222;
    display: block;
    word-break: break-all;
    white-space: normal;
}

.letter_div19 {
	width: 360px;
    height: 68px;
    margin: 40px auto 0;
}

.letter_div20 {
	width: 360px;
    height: 68px;
    margin: 0;
}

.letter_div21 {
	width: 330px;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 -5px;
}

.letter_div22 {
	width: 330px;
    height: 48px;
    flex: 1;
    padding: 0 5px;
}

[type=submit] {
    -webkit-appearance: button;
}

.letter_input2 {
	padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 48px;
    background: #ffcd32;
    text-align: center;
    font-size: 14px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: -.21px;
    color: #222;
    border-radius: 5px;
}

.letter_textarea {
	width: 278px;
    height: 379px;
	opacity: 0;
    outline: none;
    color: transparent;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: none;
    padding: 20px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
    letter-spacing: -.21px;
    text-align: center;
    resize: none;
}

.letter_span17 {
	width: 127.33px;
    height: 20.8px;
}

.letter_p {
	width: 620px;
    height: 120px;
    margin-top: 15px;
    margin: 0 -30px;
    padding: 30px;
    background-color: #f7f7f7;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.letter_span18 {
	width: 560px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: -.21px;
    color: #222;
    position: relative;
    padding-left: 7px;
    display: block;
    margin: 0;
    padding: 0;
    
}

















