@charset "UTF-8";

*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	height: 100%;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Noto Sans KR', sans-serif, NanumGothic, '나눔고딕', Dotum,
		'돋움', Helvetica, "Apple SD Gothic Neo";
}

li {
	list-style: none;
	text-decoration: none;
}

a, a:active, a:visited {
	color: black;
	text-decoration: none;
}

a, button {
	cursor: pointer;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-top: 30px;
	margin-left: 3px;
}

ul.tabs li {
	background: none;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	width: 395px;
	text-align: center;
}

ul.tabs li.current {
	border-top: 2px solid #FFD228;
}

.tab-content {
	display: none;
	
}

.tab-content.current {
	display: inherit;
}

.mypage_orderHistory_all {
	float: right;
	height: 100%;
	padding: 0;
	margin: 0;
}

#mypage_orderHistory_title {
	font-size: 30px;
	margin-left: 20px;
}

.mypage_orderHistory_main {
	width: 800px;
}

#mypage_orderHistory_table {
	width: 800px;
	margin-bottom: 200px;
	margin-top: 30px;
}

#mypage_orderHistory_table_td_s {
	background-color: #f7f7f7;
	height: 50px;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	width: 150px;
}

#mypage_orderHistory_table_td_b {
	background-color: #f7f7f7;
	height: 50px;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
}

#mypage_orderHistory_table_th {
	text-align: center;
	font-size: 15px;
}

#mypage_orderHistory_situation {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	border-bottom: 1px solid #aaaaaa; 	
}


#mypage_orderHistory_td {
	margin: 0;
	text-align: left;
	border-bottom: 1px solid #aaaaaa;
	
}

#mypage_orderHistory_img {
	width: 100px;
	height: auto;
	background: no-repeat;
	background-size: contain;
	padding: 0;
	float: left;
}

#mypage_orderHistory_span_one {
	font-weight: 500;
	margin: 10px;
	font-size: 15px;
	text-align: center;
}

#mypage_orderHistory_span_two {
/* 	color: #aaaaaa; */
	margin: 10px;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}