@charset "UTF-8";

.tabs {
	list-style: none; 
	display: flex;
} 

.tabs li{
	width: 360px;
	background: none;
    cursor: pointer;
    font-size: 15px;
    color: #8e8d8d;
    font-weight: 300;
    padding: 13px 0;
    text-align: center;
}  

.tab-content {
	display: none;
}

.current{ 
	display: inherit; 
} 

.tabs .current_clicked {
	border: 1px solid #e0e0e0;
    border-bottom: none;
    border-top: 2px solid #ffcd32;
}

.tab-link {
	border: 1px solid #e0e0e0;
}

/* 본문 */
.mypage_reviewBefore_all {
	display: inline-grid;
	position: relative;
	margin-left: 108px;
}

#mypage_reviewBefore_title {
	font-size: 22px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 15px;
}

.mypage_reviewBefore_main {
	margin-top: 39px;
}

#mypage_reviewBefore_table {
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 1px solid gray;
}

.mypage_reviewBefore_head th:first-child span {
	padding: 0px 38px;
	display: inline-block;
}

.mypage_reviewBefore_head th span {
	font-size: 13px;
	font-weight: 500;
}

.mypage_reviewBefore_head th {
	background-color: #f7f7f7;
	border-top: 1px solid #d2d1d1;
	padding: 20px 15px;
	
}

.mypage_reviewBefore_head th:not(:last-child) {
	border-right: 1px solid #e8e8e8;
}

.mypage_reviewBefore_can {
	width: 100%;
	height: 300px;
	text-align: center;
}

.mypage_reviewBefore_can tr td span {
	display: block;
	margin: 18px 0;
	font-size: 15px;
	color: #222;
}

#mypage_reviewBefore_situation {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	border-bottom: 1px solid #aaaaaa;
}

#mypage_reviewBefore_td {
	margin: 0;
	text-align: left;
}

#mypage_reviewBefore_img {
	width: 100px;
	height: auto;
	background: no-repeat;
	background-size: contain;
	padding: 0;
	float: left;
}

#mypage_reviewBefore_span_one {
	font-weight: 500;
	margin: 10px;
	font-size: 15px;
	text-align: center;
}

#mypage_reviewBefore_span_two {
/* 	color: #aaaaaa; */
	margin: 10px;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}

#mypage_reviewBefore_btn{
	width: 80px;
	height: 30px;
	margin: 10px;
	border-radius: 10px;
	background-color: #FFD228;
	border: none;
	font-size: 15px;
	font-weight: 500;
	color: #f7f7f7;
}


