@charset "UTF-8";

/* ajax관련 속성 */
.tabs {
	list-style: none; 
	display: flex;
} 
 
.tabs li{  
	background: none;
    cursor: pointer;
    font-size: 15px;
    color: #8e8d8d;
    font-weight: 300;
    padding: 13px 136px;
}  

.tab-content{ 
	display: none; 
} 

.current{ 
	display: inherit; 
} 

.tabs .current_clicked {
	border: 1px solid #e0e0e0;
    border-bottom: none;
    border-top: 2px solid #ffcd32;
}

.tab-link {
	border: 1px solid #e0e0e0;
}

/* ajax관련 속성 */


/* 본문 */
#mysubscribe_container {
	display: inline-grid;
    position: relative;
    margin-left: 108px;
}

.my_title {
	font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 15px;
}

.mysubscribe_layout {
    margin-top: 39px;
}

.mysubscribe_list_layout {
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 1px solid gray;
}

.mysubscribe_head th:first-child span {
    padding: 0px 38px;
    display: inline-block;
}

.mysubscribe_head th span {
    font-size: 13px;
    font-weight: 500;
}

.mysubscribe_head th {
	background-color: #f7f7f7;
	border-top: 1px solid #d2d1d1;
    padding: 20px 15px;
}

.mysubscribe_head th:not(:last-child) {
	border-right: 1px solid #e8e8e8;
}

.mysubscribe_order_none {
    width: 100%;
    height: 300px;
    text-align: center;
}

.mysubscribe_order_none tr td span {
	display: block;
    margin: 18px 0;
    font-size: 15px;
    color: #222;
}

#mysubscribe_order_situation {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	border-bottom: 1px solid #aaaaaa; 	
}

#mysubscribe_order_td {
	margin: 0;
	text-align: left;
}

#mysubscribe_order_img {
	width: 100px;
	height: auto;
	background: no-repeat;
	background-size: contain;
	padding: 0;
	float: left;
}

#mysubscribe_order_span_one {
	font-weight: 500;
	margin: 10px;
	font-size: 15px;
	text-align: center;
}

#mysubscribe_order_span_two {
/* 	color: #aaaaaa; */
	margin: 10px;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}

#mysubscribe_order_btn {
	width: 80px;
	height: 30px;
	margin: 10px;
	border-radius: 10px;
	background-color: #FFD228;
	border: none;
	font-size: 15px;
	font-weight: 500;
	color: #f7f7f7;
}








.mypage_confirmPurchase_all{
	text-align: center;
/* 	margin-top: 150px; */
	line-height: 2.0;
}

#mypage_confirmPurchase_h1{
	 font-size: 30px;
	 font-weight: 700;
	 margin-bottom: 50px;	
}
#mypage_confirmPurchase_h3{
	font-size: 20px;
	font-weight: 500;
}
#mypage_confirmPurchase_cbtn{
	width: 80px;
	height: 30px;
	margin: 10px;
	border-radius: 10px;
	background-color: #aaaaaa;
	border: none;
	font-size: 15px;
	font-weight: 500;
	color: #f7f7f7;
}



