*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
  text-decoration: none;
}

a,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}

a, button {
  cursor: pointer;
}
/* mypage_banner_list */
.mypage_all {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	/* 	float: right; */
}

.mypage_top {
	background: #FFD228;
	background-size: 100%;
}

.mypage_banner {
	height: 250px;
	margin-left: 120px;
}

#mypage_user_name {
	font-size: 25px;
	font-weight: 500;
	margin-left: 200px;
	margin-top: 20px;
	padding: 50px;
	line-height: 50px;
	color: white;
	float: left;
}

strong {
	font-weight: 700;
	color: black;
}

.mypage_top_right_c {
	float: right;
	background-color: white;
	border-radius: 5px;
	margin-top: 70px;
	margin-right: 400px;
}

#mypage_top_right_i {
	display: inline-block;
	/* 	margin-top: 50px; */
	padding: 5px;
	width: 800px;
	height: 120px;
}

#mypage_top_dl {
	/* 	margin: 20px; */
	height: 50px;
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	margin-left: 80px;
}

#mypage_top_dt {
	float: left;
	font-size: large;
	font-weight: 500;
	margin-top: 20px;
	margin-left: 50px;
}

#mypage_top_dd {
	color: #6FFFC4;
	font-size: x-large;
	font-weight: 900;
	clear: both;
	margin-top: 20px;
	margin-left: 50px; 
	
}

.mypage_left_section{
 margin-bottom: 80px;	
}

.mypage_left_menu_section {
	float: left;
	height: 800px;
	margin-bottom: 50px;
}

#mypage_left_menu {
	margin-left: 380px;
	margin-top: 30px;
}

#mypage_left_title {
	font-size: large;
}

#mypage_menu_list {
	width: 200px;
}

#mypage_list_a {
	color: #3c3c3c;
}

#mypage_list {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 0.5px solid #969696;
	font-weight: 500;
}

/* mypage_main */
.mypage_center_c {
	float: right;
	margin-right: 400px;
	margin-top: 30px;
	background-color: #fff9ee;
	text-align: 5px;
}

#mypage_center_i {
	display: inline-block;
	height: 230px;
	width: 800px;
}

#mypage_center_subject {
	font-size: x-large;
	font-weight: 900;
	background-color: white;
	padding: 10px;
}

#mypage_title_r {
	color: #969696;
	font-size: medium;
}

.mypage_center_list {
	margin-top: 20px;
	margin-left: 50px;
}

#mypage_center_dl {
	float: left;
	padding: 50px;
	text-align: center;
}

#mypage_center_dt {
	padding-bottom: 20px;
	line-height: 1.5;
	font-size: large;;
	font-weight: 800;
	color: #66F8F0;
}

#mypage_center_dd {
	line-height: 1.5;
	font-size: large;;
	font-weight: 800;
}

.mypage_main {
	display: block;
	float: right;
	margin-right: 400px;
	background-image: url("../img/mypage_main.png");
	width: 800px;
	height: 320px;
	margin-top: 30px;
}

#mypage_main_subject {
	font-size: x-large;
	font-weight: 900;
	background-color: white;
	padding: 10px;
}

#mypage_main_dl {
	margin: 20px;
	margin-top: 50px;
}

#mypage_main_dt {
/* 	margin: 20px; */
	font-size: mediuml;
	font-weight: 900;
	color: #FFD228;
	margin: 10px;
	clear: both;
	margin-bottom: 10px; 
}

#mypage_main_dd_one {
	font-size: large;
	font-weight: 500;
	margin: 10px;
	clear: both;
	margin-bottom: 30px;
}

#mypage_main_dd_two {
	font-size: x-large;
	font-weight: 900;
	margin: 10px;
	clear: both;
	margin-bottom: 50px;
	
}


#mypage_order_btn {
	background-color: #FFD228;
	border-radius: 150px;
	width: 150px;
	height: 50px;
	text-align: center;
	border: none;
	margin-bottom: 50px;
	margin-left: 10px;
}

