*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
  text-decoration: none;
}

a,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

.mypage_container{
	width: 1120px;
    margin: 53px auto 82px;
    position: relative;
}
/* mypage_banner_list */
.mypage_all {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	/* 	float: right; */
}

.mypage_top {
	background: #FFD228;
	background-size: 100%;
}

.mypage_banner {
    height: 250px;
    width: 1120px;
    margin: 0 auto;
    padding-top: 65px;
}

#mypage_user_name {
	font-size: 25px;
    font-weight: 500;
    line-height: 50px;
    color: white;
    float: left;
    padding-top: 8px;
}

strong {
	font-weight: 700;
	color: black;
}

.mypage_top_right_c {
    float: right;
    background-color: white;
    border-radius: 5px;
}

#mypage_top_right_i {
    display: inline-block;
    padding: 22px 1px;
}

#mypage_top_dl {
    padding: 6px 87px;
    display: inline-block;
    text-align: center;
    text-align: center;

}

#mypage_top_dl:not(:last-child) {
	border-right: 1px solid #e6e4e4;
}

#mypage_top_dt {
    font-size: large;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
}

#mypage_top_dd {
	color: #46cfa7;
    font-size: x-large;
    font-weight: 900;
    clear: both;
    line-height: 40px;
}

.mypage_left_div {
	display: inline-block;
	vertical-align: top;
}

.mypage_left_menu_section {
	float: left;
	height: 800px;
	margin-bottom: 50px;
}

#mypage_left_menu_top {
	margin-bottom: 45px;
}
#mypage_left_menu_bottom {
}

#mypage_left_title {
	font-size: 18px;
    color: #222;
}

#mypage_menu_list {
	width: 270px;
    margin: 18px 0px;
}

#mypage_list_a {
	color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
}

#mypage_list_a:hover {
	text-decoration: underline;
}

#mypage_list {
    padding-top: 20px;
    padding: 19px 0;
    border-bottom: 0.5px solid #e3e0e0;
    font-weight: 500;

}

/* mypage_main */

#mypage_order_delevery_box {
	display: inline-block;
    position: absolute;
    margin-left: 40px;
    margin-top: 0px;
}

.mypage_center_c {
    display: inline-block;
}

.mypage_center_i {
	display: inline-block;
}

.mypage_center_subject {
	font-size: 24px;
    background-color: white;
    line-height: 35px;
}

.mypage_title_l {
	font-weight: 500;
}

.mypage_title_r {
    color: #969696;
    font-size: 16px;
    font-weight: 500;
}

.mypage_center_list {
    display: inline-block;
    background-color: #fff9ee;
}

.mypage_center_dl {
    text-align: center;
    display: inline-block;
    margin: 37px 65px;;
}

.mypage_center_dt {
    padding-bottom: 20px;
    line-height: 20px;
    font-size: 24px;
    font-weight: 800;
    color: #66F8F0;
}

.mypage_center_dd {
	line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    color: #222;
}

.mypage_main {
    display: inline-block;
    background-image: url(../img/mypage_main.png);
    width: 800px;
    margin: 31px 0px;
}

.mypage_main_subject {
	font-size: 24px;
    font-weight: 500;
    background-color: white;
    padding: 10px 0;
    line-height: 37px;
}

.mypage_main_dl {
    margin: 47px 40px;
}

.mypage_main_dt {
    font-weight: 500;
    font-size: 14px;
    color: #FFD228;
    letter-spacing: .2px;
    clear: both;
    margin-bottom: 23px;
}

.mypage_main_dd_one {
    font-size: 24px;
    font-weight: 300;
    clear: both;
    margin-bottom: 12px;
}

.mypage_main_dd_two {
	font-size: x-large;
    font-weight: 600;
    clear: both;
    margin-bottom: 26px;
    line-height: 33px;
}


.mypage_order_btn {
    background-color: #FFD228;
    border-radius: 150px;
    width: 150px;
    height: 50px;
    text-align: center;
    border: none;
    font-size: 14px;
}

.mypage_left_div #mypage_list .point_up {
	color: #46cfa7;
	text-align: left;
	padding-left: 73px;
	font-size: 13px;
	font-weight: 300;
}

.mypage_left_div #mypage_list .anniversary {
	color: #999999;
	text-align: left;
	padding-left: 45px;
	font-size: 13px;
	font-weight: 300;
}
