@charset "UTF-8";

#quick_banner_container {
	margin-bottom: 65px;
}

.quick_banner_img {
    background-image: url(../img/quick_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-color: #eeece8;
    height: 300px;
}

.quick_banner_img > div {
	width: 1120px;
    margin: 0 auto;
}

.quick_banner_textbox {
	height: 300px;
    display: table-cell;
    vertical-align: middle;
}

.quick_banner_textbox > span {
	font-size: 31px;
    line-height: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    display: inline-block;
}
.quick_banner_textbox > div {
	display: flex;
    flex-direction: column;
}

.quick_banner_textbox > div span {
	font-size: 19px;
    font-weight: 300;
    margin-bottom: 9px;
}



.quick_list_layout {
	width: 100%;
}

.quick_item_box {
	display: inline-block;
}

.quick_item_box:not(:last-child){
	margin-right: 13px;
}

.quick_item_desc {
	display: inline-block;
}

.quick_item_name {
    display: block;
    line-height: 21px;
    margin-bottom: 6px;
}

.quick_item_desc td {
	font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -.18px;
    color: #787878;
}
.quick_item_img {
	width: 265px;
}

.quick_item_name td a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -.24px;
    color: #222;
}

.quick_item_price td {
	font-size: 14px;
}

.quick_item_discount {
	color: red;
    font-weight: 600;
    margin-right: 5px;
}

.quick_item_discountprice {
	color: #787878;
}

.quick_item_size td {
	font-size: 10px;
    line-height: 31px;
}

.quick_item_size_icon {
	background-color: #ffcd32;
    color: white;
    padding: 2px 6px;
    border-radius: 40px;
}

.quick_item_size_letter{
    color: #787878;
    margin-right: 2px;
}

quick_item_free {
	background-color: #46cfa7;
    color: white;
    border-radius: 10px;
    padding: 1px 3px;
    letter-spacing: .5px;
}












