@charset "UTF-8";

		body {
			width: 100%;
			text-align: center;
		}
		
		.anniversaryForm {
			display: inline-block;
			box-sizing: content-box;	
			width: 70%;
			line-height: 25px;
		  	text-align: center;
		}
		
		.formAnniversary li {
			margin-bottom: 30px;
		}
		
		.annSelect {
			width: 300px;
			height: 44px;
			border: 1px solid #eaeaea;
			border-radius: 5px;
			font-size: 14px;
			color: #000;
			outline: none;
			display: inline-block;
		}
		
		#annInsert {
			border: none;
			width: 80%;
			text-align: center;		
		}
		
		.d_day_cell {
			color: #79FFCE;
			font-size: 16pt;
		}
		
		.textStar {
			font-size: 14px;
			color: #ffca18;
		}
		